<nav class="navbar navbar-expand-md fixed-top">
  <div class="container d-flex align-items-center justify-content-between" style="margin-top: 10px">
    <ng-container *ngIf="currentUser$ | async">
      <a class="navbar-brand">MedicLab</a>
    </ng-container>
    <ng-container *ngIf="(currentUser$ | async) as user">
      <div class="d-flex align-items-center">
        <button class="btn me-5" (click)="addMember()">Add member</button>
        <div class="dropdown" dropdown>
          <a class="dropdown-toggle text-decoration-none" dropdownToggle>Welcome {{ user?.username }}</a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</nav>
