<div class="dialog-container">
  <div class="left-section">
    <p class="info-text">Click on image to open photo editor</p>
    <img [src]="editForm.get('photoUrl')?.value" alt="Member Image" (click)="photoEditor()">
  </div>
  <div class="right-section">
    <form [formGroup]="editForm" (ngSubmit)="save()">
      <div class="details-container">
        <div class="column">
          <div class="label-group">
            <div class="label">ID:</div>
            <div class="label">Date of birth:</div>
            <div class="label">Last login:</div>
            <div class="label">Orders:</div>
          </div>
          <div class="value-group">
            <div class="value"><strong>{{ member.id }}</strong></div>
            <div class="value"><strong>{{ member.dateOfBirth | date: 'yyyy-MM-dd' }}</strong></div>
            <div class="value"><strong>{{ member.lastLogin | date: 'yyyy-MM-dd' }}</strong></div>
            <div class="value"><strong>{{ member.orders }}</strong></div>
          </div>
        </div>
        <div class="column">
          <div class="label-group">
            <div class="label">Name:</div>
            <div class="label">Username:</div>
            <div class="label">Role:</div>
            <div class="label">Status:</div>
          </div>
          <div class="value-group">
            <input formControlName="name" class="value">
            <input formControlName="username" class="value">
            <div class="value"><strong>{{ editForm.get('role')?.value }}</strong></div>
            <div class="value"><strong>{{ editForm.get('status')?.value }}</strong></div>
          </div>
        </div>
      </div>
      <div class="button-container">
        <button type="button" class="btn" (click)="toggle()">Toggle status</button>
        <button type="submit" class="btn">Save</button>
        <button type="button" (click)="close()" class="btn">Close</button>
      </div>
    </form>
  </div>
</div>

