<div class="dialog-container">
  <div class="left-section">
      <img [src]="member.photoUrl" alt="Member Image">
  </div>

  <div class="right-section">
      <div class="details-container">
          <div class="label-group">
            <div class="label">ID:</div>
            <div class="label">Name:</div>
            <div class="label">Date of birth:</div>
            <div class="label">Orders:</div>
            <div class="label">Username:</div>
            <div class="label">Status:</div>
            <div class="label">Last login:</div>
          </div>
          <div class="value-group">
            <div class="value"><strong>{{ member.id }}</strong></div>
            <div class="value"><strong>{{ member.name }}</strong></div>
            <div class="value"><strong>{{ member.dateOfBirth }}</strong></div>
            <div class="value"><strong>{{ member.orders }}</strong></div>
            <div class="value"><strong>{{ member.username }}</strong></div>
            <div class="value"><strong>{{ member.status }}</strong></div>
            <div class="value"><strong>{{ member.lastLogin }}</strong></div>
          </div>
      </div>
      <div class="button-container">
        <button type="button" (click)="editDetail()" class="btn">Edit</button>
        <button type="button" (click)="close()" class="btn">Close</button>
      </div>
  </div>
</div>

