<div class="dialog-container">
  <div class="left-section">
    <img [src]="data.member.imageUrl" alt="{{data.member.name}}" class="member-image">
  </div>
  <div class="right-section">
    <div class="details-container">
      <div class="label-group">
        <div class="label">ID:</div>
        <div class="label">Name:</div>
        <div class="label">Username:</div>
        <div class="label">Date of Birth:</div>
        <div class="label">Orders:</div>
        <div class="label">Status:</div>
        <div class="label">Last Login:</div>
      </div>
      <div class="value-group">
        <div class="value"><strong>{{ data.member.id }}</strong></div>
        <div class="value"><strong>{{ data.member.name}}</strong></div>
        <div class="value"><strong>{{ data.member.username }}</strong></div>
        <div class="value"><strong>{{ data.member.dateOfBirth }}</strong></div>
        <div class="value"><strong>{{ data.member.orders }}</strong></div>
        <div class="value"><strong>{{ data.member.status }}</strong></div>
        <div class="value"><strong>{{ data.member.lastLogin }}</strong></div>
      </div>
    </div>
    <div class="button-container">
      <button class="btn" (click)="save()">Save</button>
      <button class="btn" (click)="onClose()">Close</button>
    </div>
  </div>
</div>

