/* Global */
:host {
  display: block;
  width: 100%;
  height: 100%;
}

/* Container */
.cover-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: auto;
}

.centered-content {
  text-align: center;
  margin-top: 20%;
  padding: 15%;
  border: 1px solid darkgray;
  border-radius: 2%;
}

/* Header */
h1 {
  position: relative;
  padding-bottom: 20px;
  color: darkgray;
  font-family: "Lucida Calligraphy", cursive;
  margin-top: -20px;
}

/* Form container */
.form-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10%;
}

/* Input */
.form-control {
  width: 100%;
  max-width: 500px;
}

input.form-control {
  text-align: center;
  width: 100%;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  transition: border-color 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 1rem;
}

input.form-control:hover {
  border-color: darkgray;
}

.form-control::placeholder {
  color: darkgray;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.form-control:focus::placeholder {
  opacity: 0;
}

.form-control:focus {
  border-bottom-color: darkgray;
}

input.form-control:focus {
  outline: none;
  border-bottom-color: darkgray;
  box-shadow: none;
}

/* Button */
.btn {
  margin-top: 7rem;
  width: 100%;
  max-width: 500px;
  background-color: #212529;
  border: 1px solid darkgray;
  color: darkgray;
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
}

.btn:hover {
  background-color: #3D6790;
}
