<div class="cards-wrapper">
  <ng-container *ngFor="let member of members">
    <div class="card-container">
      <div class="info-container" (click)="memberDetails(member)" [class.disabled]="isDialogOpen" [style.pointer-events]="isDialogOpen ? 'none' : 'auto'">
        <div class="content-wrapper" >
          <div class="label-group">
            <div class="label">ID:</div>
            <div class="label">Name:</div>
            <div class="label">Username:</div>
            <div class="label">Last Login:</div>
          </div>
          <div class="value-group">
            <div class="value"><strong>{{member.id}}</strong></div>
            <div class="value"><strong>{{member.name}}</strong></div>
            <div class="value"><strong>{{member.username}}</strong></div>
            <div class="value"><strong>{{member.lastLogin}}</strong></div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
